<!doctype html>
<html lang="{{ with .Site.Language }}{{ .Lang }}{{ else }}en{{ end }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>
<body>
  <header>
    <h1><a href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a></h1>
    <hr/>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <hr/>
    <p>© {{ now.Format "2006" }} {{ .Site.Title }}</p>
  </footer>
</body>
</html>

