{{ define "main" }}
<section class="posts">
  {{ $pages := where .Site.RegularPages "Type" "post" }}
  {{ if not (len $pages) }}
    <p>No posts found.</p>
  {{ end }}

  <ul class="posts-year">
  {{ range $p := $pages.ByDate.Reverse }}
    <li class="post-item">
      {{ $d := $p.Date }}
      <time datetime="{{ $d.Format "2006-01-02T15:04:05Z07:00" }}">{{ $d.Format "Jan 2, 2006" }}</time>
      <a href="{{ $p.RelPermalink }}">
        {{ if $p.LinkTitle }}{{ $p.LinkTitle }}{{ else }}{{ $p.Title }}{{ end }}
      </a>
      {{ with $p.Summary }}<p class="summary">{{ . }}</p>{{ end }}
      {{ with $p.Params.tags }}
        <p class="tags">
          {{ range . }}<span class="tag">#{{ . }}</span> {{ end }}
        </p>
      {{ end }}
    </li>
  {{ end }}
  </ul>
</section>
{{ end }}
