{{ define "main" }}
  <section class="posts">
    {{ $groups := .Pages.GroupByDate "2006" | reverse }} {{/* newest year first */}}
    {{ if not (len $groups) }}
      <p>No posts found.</p>
    {{ end }}
    {{ range $groups }}
      {{ $year := .Key }}
      <h2 class="year">{{ $year }}</h2>

      <ul class="posts-year">
      {{ $pages := .Pages.ByDate.Reverse }} {{/* newest posts first */}}
      {{ range $pages }}
        {{ $date := cond .PublishDate.IsZero .Date .PublishDate }} {{/* fallback: use PublishDate if set else Date */}}
        <li class="post-item">
          <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ $date.Format "Jan 2" }}
          </time>
          <a href="{{ .RelPermalink }}">{{ if .LinkTitle }}{{ .LinkTitle }}{{ else }}{{ .Title }}{{ end }}</a>
          {{ with .Summary }}<p class="summary">{{ . }}</p>{{ end }}
          {{ with .Params.tags }}
            <p class="tags">
              {{ range $i, $t := . }}<span class="tag">#{{ $t }}</span>{{ if lt (add $i 1) (len $.Params.tags) }} {{ end }}{{ end }}
            </p>
          {{ end }}
        </li>
      {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
